body {
    margin: 0;
    min-width: 720px;
    font-family: montserrat;
    background: url(../Images/hospital.jpg);
    background-size: cover;
    margin: 0;
    padding:0;
}
nav{
    background: deepskyblue;
    height: 80px;
    width: 100%;
       
}

    nav ul {
        float: right;
        margin-right: 20px; 
     }

    nav ul li {
        display: inline-block;
        line-height: 80px;
        margin: 0 5px;
    }

    nav ul li a {
        color: white;
        font-size: 17px;
        text-transform: uppercase;
    }

    a.active, a:hover{
        background: #1b9bff;
        transition: .5s;
    }
label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

section{
    background: url('hospital.jpg') no-repeat;
    background-size: cover;
    height: calc(100vh -80px);

}


/* Include the padding and border in an element's total width and height */
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/*********************************************
         * Header
         ********************************************/
.header {
    background-color: deepskyblue;
    padding: 60px;
    color: white;
    padding: 10px;
    margin: 0;
    font-size: 20px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.SaveaLife {
    font: bold;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input {
    width: 20%;
    padding: 12px 20px;
    margin: 0px;
    box-sizing: border-box;
}

.addButton {
    float: left;
    font-size: 16px;
    cursor: pointer;
}

    .addButton:hover {
        background-color: cornflowerblue;
        color: white;
    }

label {
    float: left;
    padding: 10px;
    font-size: 16px;
}

/*********************************************
         * TODO_ITEMS List
         ********************************************/

/* Remove margins and padding from the ul element (unordered lis)  so that the list is flushed with the
           browser borders instead of leaving a gap */


.NavBar {
    display: inline;
    float: left;
}

.ulNav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center;
}

.aNav {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

    .aNav :hover {
        background-color: #111;
    }

.NavBar :nth-child(odd) {
    background: black;
}

.Paddd {
    padding: 0px;
}


/* Each li element with the ul will hold a todo_item */



/* CSS style to hide the "tick" symbol if an item status is not set to "DONE"
           This is done in code - see the addTodoItemToDisplay() function where the element is classList.toggle() */
.tickHidden {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    visibility: hidden;
}

/* When clicked on, also show the "tick" symbol.  Again this is done in code.
           see the addTodoItemToDisplay() function  */
.tickVisible {
    visibility: visible;
}

.close {
    padding-left: 5px;
    padding-right: 5px;
    float: right;
}

    /* This adds a hover selector to the close class. That is any elements attached to the close class with change to
           a RED with WHITE background.  In this case, this will be the close "button" for each of the todo_item
        */
    .close:hover {
        background-color: red;
        color: white;
    }


